.anchor {
    -fx-background-image:url('./images/background.jpg');
    -fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
	-fx-background-color : #239c9c;
	-fx-background-radius : 30 0 0 30;
}

.button:hover {
	-fx-background-color : #075757;
	-fx-background-radius : 30 0 0 30;
}

.button:pressed {
	-fx-background-color : #239c9c;
	-fx-background-radius : 30 0 0 30;	
}