.anchor {
    -fx-background-image:url('./images/background.jpg');
    -fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
	-fx-background-color : #239c9c;
	-fx-background-radius : 30 0 0 30;
}

.button:hover {
	-fx-background-color : #570707;
}

.button:pressed {
	-fx-background-color : #239c9c;
}
.button:focus, .button:focus-visible {
	-fx-background-color : #9c8623;
	-fx-background-radius : 30 0 0 30;	
  -fx-focus-color: #9c2323; 
}
